<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDirectly</servlet-name>
        <servlet-class>controller.OrderDirectly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDiscountServlet</servlet-name>
        <servlet-class>controller.ProductDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSeller</servlet-name>
        <servlet-class>controller.BestSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>controller.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderViaCartServlet</servlet-name>
        <servlet-class>controller.OrderViaCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>controller.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaymentServlet</servlet-name>
        <servlet-class>controller.ShowPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDetailServlet</servlet-name>
        <servlet-class>controller.PaymentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewProductServlet</servlet-name>
        <servlet-class>controller.ReviewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowReviewServlet</servlet-name>
        <servlet-class>controller.ShowReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>controller.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortUserServlet</servlet-name>
        <servlet-class>controller.SortUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPriceServlet</servlet-name>
        <servlet-class>controller.SearchPriceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDiscountServlet</servlet-name>
        <url-pattern>/productDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSeller</servlet-name>
        <url-pattern>/bestSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDirectly</servlet-name>
        <url-pattern>/orderDirectly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderViaCartServlet</servlet-name>
        <url-pattern>/orderViaCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPaymentServlet</servlet-name>
        <url-pattern>/showPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDetailServlet</servlet-name>
        <url-pattern>/paymentDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewProductServlet</servlet-name>
        <url-pattern>/reviewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowReviewServlet</servlet-name>
        <url-pattern>/showReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortUserServlet</servlet-name>
        <url-pattern>/sortUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPriceServlet</servlet-name>
        <url-pattern>/searchPrice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
